.header {
  text-align: center;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.scrollable {
  max-height: 670px;
  overflow-y: auto;
}

.customer-list {
  width: 30%;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.customer-item {
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.customer-item:hover {
  background-color: #e9e9e9;
}
.customer-item.selected {
  background-color: #e9e9e9;
  border-left: 5px solid #000205;
}

.customer {
  padding: 32px;
}

.customer-details {
  width: 65%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.customer-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.customer-details p {
  margin-bottom: 20px;
  text-align: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-gallery img {
  width: calc(33.333% - 10px);
  height: 200px;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 5px;
}

.placeholder {
  text-align: center;
  font-size: 18px;
  color: #999;
  display: flex;
  flex: auto;
  justify-content: center;
}
